.new-book-dialog {
  font-size: 20px;
}

.new-book-dialog .form-field {
  width: 400px;
  padding: 5px 0;
}

.new-book-dialog .buttons {
  flex-direction: row-reverse;
}

.new-book-dialog .form-field-error {
  font-size: 12px;
}